@media (max-width: 990px) {
  .invest-cards {
    flex-wrap: wrap;
    margin-right: 0;
  }
  .title-btn {
    flex-direction: column;
  }
}
@media screen and (max-width: 690px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    z-index: 1;
    text-align: center;
  }

  .nav.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
  .invest-card {
    min-width: 100%;
  }
  .ready-to-invest,
  .real-estate,
  .all-center,
  .contact,
  .hero-section,
  .impact-steps-cards,
  .projects-cards {
    padding: 0 24px;
  }

  .impact-steps-cards {
    flex-direction: column;
  }
  .impact-card {
    max-width: 100% !important;
    padding: 24px;
  }
  .real-estate-wrapper {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .financed-content {
    flex-direction: column;
    gap: 20px;
  }
  .financed-numbers {
    grid-template-columns: repeat(2, 1fr);
  }
  .pricing-sec {
    flex-direction: column;
    min-height: 600px;
    gap: 20px;
  }
  .pricing-sec .right {
    max-width: 430px;
    margin: 0 20px;
  }
  .pricing-sec .left {
    margin: 1rem;
    width: 100%;
    padding-left: 30px;
  }
  .contact-container {
    flex-direction: column;
    align-items: start;
  }
  .contact-btn {
    margin-left: 12px;
    margin-bottom: 16px;
  }
  .about {
    padding: 0 24px;
  }
  .about-container {
    max-width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 32px;
  }
  .about-right {
    flex-wrap: wrap;
  }
  .contact-text p {
    max-width: 400px;
  }
  .how-its-work-cards {
    margin-left: 64px;
    gap: 32px;
  }
  .how-its-work-card {
    flex-direction: column-reverse;
    align-items: baseline;
    gap: 32px;
    margin-right: 46px;
  }
  .how-its-work-card:first-child {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }

  .how-its-work-card:last-child {
    flex-direction: column;
    margin-left: 0;
    margin-top: 50px;
    margin-right: 0;
  }
  .how-its-work-card .arrow {
    display: none;
  }
}
@media screen and (max-width: 460px) {
  .financed-numbers {
    grid-template-columns: 1fr;
    align-items: start;
  }
}
