.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px 0;
}
.list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.list li {
  cursor: pointer;
  color: var(--text-color-light);
  transition: all 0.3s ease-in-out;
}
.list li:hover {
  color: var(--text-brand-color);
  text-decoration: underline;
}

/* hero  */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 56px;
}

.hero-img {
  margin-top: 60px;
  width: 100%;
}
.title-btn {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 20px;
  margin-top: 8px;
}
.title-btn h2 {
  font-size: 46px;
}
.title-btn button {
  margin-top: 0;
}
.ready-to-invest {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.invest-cards {
  display: flex;
  gap: 24px;
  max-width: 850px;
  margin-right: 80px;
}
.card-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}
.card-top-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.card-status {
  position: absolute;
  top: 12px;
  left: 12px;
  text-transform: capitalize;
  z-index: 3;
}
.status-wrapper {
  padding: 2px;
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 6px;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 6px;
}
.status {
  border-radius: 4px;
  background: rgb(195, 244, 212);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  white-space: nowrap;
  padding: 4px 6px;
  width: fit-content;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(7, 95, 36);
}
.status-time {
  padding-right: 6px;
}
.status-time p {
  font-size: 11px;
  line-height: 14px;
  color: rgb(88, 98, 111);
}
.card-images {
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 8px;
}
.swiper {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 100%;
}
.swiper-button-next::after {
  font-size: 14px !important;
  color: white;
}
.swiper-button-prev::after {
  font-size: 14px !important;
  color: white;
}
.swiper-button-next,
.swiper-button-prev {
  flex-shrink: 0;
  background-color: black;
  border-radius: 50%;
  width: 32px !important;
  height: 32px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev:hover {
  background-color: #333;
}
.swiper-button-next:hover {
  background-color: #333;
}
.swiper-pagination-bullet {
  opacity: 100% !important;
}
.top-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.content-id {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
  min-height: 24px;
  height: 100%;
}
.id-name {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  column-gap: 4px;
}
.id-text {
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  color: rgb(36, 76, 255);
}
.id {
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  color: rgb(36, 76, 255);
}
.name {
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  color: #000;
  margin-left: 8px;
}
.badge-wrapper {
  cursor: pointer;
}
.badge-wrapper .badge {
  background: rgb(209, 244, 255);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  white-space: nowrap;
  width: fit-content;
  column-gap: 2px;
  -webkit-box-align: center;
  align-items: center;
  padding: 2px 6px;
  max-height: 18px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  border-radius: 16px;
  border: 1px solid rgb(209, 244, 255);
  color: #000;
}
.badge svg {
  width: 10px;
  height: 10px;
  margin-right: 4px;
}
.flag {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 50px;
  overflow: hidden;
}
.investors-count {
  font-size: 13px;
}

.progress-wrapper {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}
.progress-wrap {
  min-width: 16px;
  flex: 0.334576 1 0%;
  background-color: rgb(65, 195, 108);
  height: 100%;
}
.progress {
  min-width: 16px;
  flex: 0.665424 1 0%;
  background-color: rgb(234, 236, 238);
  height: 100%;
}
.progress-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table {
  display: flex;
  gap: 100px;
  margin-top: 8px;
}
.row-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.row {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}
.row p:last-child {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}
.row p:first-child {
  font-size: 12px;
}
.badge-success {
  border-radius: 4px;
  background: rgb(205, 238, 198);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  white-space: nowrap;
  padding: 4px 6px;
  width: fit-content;
  font-size: 10px !important;
  line-height: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.invest-button {
  margin-top: 16px;
  -webkit-box-align: center;
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  border-radius: 4px;
  transition: bgsound-color 300ms, bgcolor 300ms cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
  column-gap: 4px;
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: #5ac8a5;
  padding: 8px 16px;
  height: 40px;
  max-height: fit-content;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 500;
  transition: all 0.3s;
}
.star-rating {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}
.star-rating p {
  color: #000;
}
.invest-button:hover {
  background-color: #41a183;
}
.impact-steps-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 48px;
  flex-wrap: wrap;
  gap: 24px;
}
.top-text-1 {
  position: absolute;
  bottom: 60px;
  left: -10px;
}
.top-text-2 {
  position: absolute;
  top: 85px;
  right: -40px;
}
.vector {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  color: #000;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #ddd;
  padding: 4px 16px 4px 4px;
  font-weight: 500;
}
.vector-icon {
  background-color: #5ac8a5;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99999px;
}
.impact-card-img {
  height: 48px;
  width: 48px;
  background-color: var(--brand-color);
  border-radius: 8px;
}
.impact-card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.real-estate-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  gap: 90px;
}

.real-estate-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.real-estate-list {
  display: flex;
  align-items: start;
  gap: 16px;
}
.real-estate-list h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}
.phone-img {
  position: absolute;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 28px);
}
.phone-image {
  position: relative;
}
.top-text {
  position: absolute;
  top: 46%;
  left: 16px;
}

.top-text h4 {
  font-size: 22px;
}
.top-text p {
  font-size: 10px;
  color: #4c4c4c;
  margin-left: 4px;
}
.bottom-text {
  position: absolute;
  bottom: 24%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.phone-text h4 {
  font-size: 24px;
  line-height: 1;
}
.phone-text span {
  font-size: 9px;
}
.financed-section {
  border: 1px solid var(--border-color);
  border-radius: 14px;
  padding: 32px;
  max-width: 850px;
}
.financed-content {
  display: flex;
}
.financed-content h3 {
  flex: 2;
}
.financed-content p {
  font-size: 12px;
  flex: 1;
}
.financed-numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  row-gap: 42px;
  padding-left: 36px;
  margin-top: 16px;
}
.financed-number {
  display: flex;
  flex-direction: column;
}
.financed-number h3 {
  font-size: 48px;
  font-weight: 500;
}
.financed-number h3 span {
  font-size: 42px;
  margin-left: -12px;
}

.pricing-sec {
  max-width: 850px;
  height: 350px;
  border-radius: 15px;
  background: #f2f9f6;
  box-shadow: 0px 4px 4px 0px #0000001a;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  margin: 3rem 3.5rem;
}

.left h3 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 112%;
  letter-spacing: -1.1%;
  color: var(--text-color);
  width: 200px;
  margin-bottom: 12px;
}
.left p {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 130%;
  letter-spacing: -1.1%;
  color: var(--text-color-light);
  width: 349px;
  margin-bottom: 18px;
}

.right {
  width: 600px;
  height: 220px;
  border-radius: 10px;
  background-color: var(--bg-secondary);
  margin-right: 20px;
  padding-top: 28px;
}

.row-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 20px;
  font-weight: 600;
  font-size: 0.8rem;
}

.input-con {
  width: 90%;
  background-color: #f1f3f3;
  height: 18px;
  border-radius: 50px;
  margin: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  height: 30px;
  background: transparent;
  position: relative;
  accent-color: #5ac8a5;
  width: 95%;
}

.row-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 20px;
  font-weight: 600;
}
.row-2 p {
  font-size: 0.8rem;
}
.row-2 #interestAmount {
  font-weight: 500;
  font-family: inter;
  font-size: 2.2rem;
  color: black;
}
.row-2 span {
  color: #d5d5d5;
  margin-right: 14px;
}

.row-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 18px 20px;
  font-weight: 600;
  font-size: 0.8rem;
}
.slider {
  background: white;
  min-height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: 960px;
}
.slider-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

.slider-text h1 {
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 1.2;
  letter-spacing: -0.05em;
  width: 90%;
  max-width: 294px;
  height: auto;
}

.slider-text h1 span {
  color: #28705a;
}

.slider-text p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: -0.011em;
  width: 90%;
  max-width: 402px;
}
.slide-card {
  max-width: 220px;
  height: auto;
  min-height: 200px;
  max-height: 200px;
  border-radius: 18px;
  border: 1px solid #d0d0d0;
  box-shadow: 0px 4px 4px 0px #0000001a;
  flex-shrink: 0;
  transition: transform 0.5s ease;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 20px;
  margin-top: 20px;
  width: 100%;

  overflow: hidden;
  position: relative;
}

.slider::before,
.slider::after {
  /* Replace this with actual white-gradient code */
  background: linear-gradient(to right, white, transparent);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  min-height: 100px;
  width: 250px;
}
.slide-image {
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 12px;
}
.slide-image img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  object-fit: cover;
}
.slideimage-text h3 {
  font-size: 14px;
  margin-bottom: 2px;
}
.slideimage-text p {
  font-size: 10px;
  color: #4c4c4c;
}
.fa-star {
  color: #41a183;
}
.slide-text p {
  font-size: 13px;
  margin-top: 18px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* CONTACT SECTION  */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-container {
  max-width: 840px;
  width: 100%;
  border-radius: 15px;
  border-width: 1px;
  border: 1px solid var(--border-color);
  box-shadow: 0px 4px 4px 0px #0000001a;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-text {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 32px 24px;
}
.contact-text h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 110.00000000000001%;
  letter-spacing: -1.1%;
  color: #000000;
}
.contact-text p {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 130%;
  letter-spacing: -1.1%;
  color: var(--text-color-light);
  width: 486px;
}
.contact-btn {
  margin-right: 24px;
}

/* ABOUT SECTION  */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.about-container {
  width: 830px;
  border-radius: 15px;
  margin-top: 80px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-left h1 {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 125%;
  letter-spacing: -1.1%;
  color: var(--text-color);
  text-align: left;
  margin-bottom: 6px;
}

.about-left p {
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 130%;
  letter-spacing: -1.1%;
  text-align: center;
  color: var(--text-color-light);
}

.about-right {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 6rem;
  margin-right: 32px;
}

.pages {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.pages h1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -1.1%;
  color: var(--text-color);
  margin-bottom: 8px;
  text-align: left;
}
.pages a {
  font-weight: 500;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -1.1%;
  color: #7c7c7c;
  margin: 2px 0;
}
.socials {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;
}

.socials h1 {
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 125%;
  letter-spacing: -1.1%;
  color: var(--text-color);
  margin-bottom: 8px;
  text-align: left;
}
.socials a {
  font-weight: 500;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -1.1%;
  color: #7c7c7c;
  margin: 2px 0;
}
.learn {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 50px;
}

.learn h1 {
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 125%;
  letter-spacing: -1.1%;
  color: var(--text-color);
  margin-bottom: 8px;
  text-align: left;
}
.learn a {
  font-weight: 500;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -1.1%;
  color: #7c7c7c;
  margin: 2px 0;
}
.line {
  width: 90%;
  border-width: 1px;
  border: 1px solid #ebebeb;
  margin-left: 38px;
  margin-top: 60px;
}

/* FOOTER SECTION  */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 0;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-left p {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: -1.1%;
  text-align: center;
  color: var(--text-color);
}

.footer-right a {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: -1.1%;
  text-align: center;
}
.footer-right {
  display: flex;
  margin-right: 22px;
  gap: 14px;
}

.footer-para p {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: -1.1%;
  max-width: 810px;
  margin-top: 20px;
}
