:root {
  --text-color-light: #494949;
  --hover-color: ;
  --brand-color: #5ac8a5;
  --bg-primary: #000;
  --bg-secondary: #fff;
  --border-color: #d5d5d5;
  --badge-color: #fbfbfb;
  --text-brand-color: #5ac8a5;
  --card-color: #f2f9f6;
  --text-foreground: #a3a3a3;
  --text-color: #000;
  --text-white: #fff;
}
